# Linear Regression<br>

The data pertains to the houses found in a given California district and some summary stats about them based on the 1990 census data.<br>

The columns/ features are as follows: longitude, latitude, housing median age, total_rooms, total_bedrooms, population, households, median_income, median house value, ocean_proximity.<br> The goal here is to predict the median house value based on the other features.<br>

This dataset is a modified version of the California Housing dataset available from:
Lu√≠s Torgo's page (University of Porto)

## Import Libraries

In [15]:
import numpy as np
import pandas as pd
import copy
import math

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

from tensorboardX import SummaryWriter
import matplotlib.pyplot as plt

%matplotlib inline

## Data Loading and Preprocessing

In [14]:
class Preprocessing:
    
    #load the data from the file and split into train and test sets
    def fetch_train_test_data(self, path):
        
        raw_csv = pd.read_csv(path, sep = ",",)
        train_set, test_set = train_test_split(raw_csv, test_size = 0.2, random_state = 42)
        return train_set, test_set
    
    #preprocess training data
    def preprocess_training_data(self, training_features_and_labels[features_labels]
                                training_labels = ):
        
        features_labels = [ "longitude", "latitude", "housing_median_age", "total_rooms", "total_bedrooms", "population", 
                   "households", "median_income", "ocean_proximity"]
        target_label = ["median_house_value"]
        
        training_features = training_features_and_labels[features_labels]
        training_labels = training_features_and_labels[target_label]
        
        #label encode categorical features
        label_encoded_training_features = self.label_encode_categorical_features(training_features)
        
        #Only label Encoding is not enough since it gives a natural ordering to different classes in a multiclass categorical
        #feature. One-Hot Encoding is required for the encoding to be unbiased.
        one_hot_encoded_training_features = 
        
        
        
        
        
        ISSUE: NEED TO DO LABEL ENCODING BEFORE SPLITTING INTO TRAINING AND TEST SET.
        

        
        
        
        
        
    
#     #preprocess testing data
#     def proprocess_testing_data(self, testing_features):

    
    def label_encode_categorical_features(self, features):
        
        #Create a boolean mask for the features that are categorical among all the features in the dataframe passed
        boolean_mask = features.dtypes == object
        
        # Filter categorical columns using mask and turn it into a list
        categorical_columns = features.columns[categorical_feature_mask].tolist()
        
        #LabelEncoder converts each class of the categorical features to a numerical value.
        label_encoder = LabelEncoder()
        
        #Apply LabelEncoder to each categorical feature
        features[categorical_columns] = features[categorical_columns].apply(lambda col: label_encoder.fit_transform(col))
        
        
        print(f"After lable encoding, the categorical features appear as below: ")
        print(features[categorical_columns].head(10))
        
        return features
    
    def one_hot_encode_categorical_features(self, )

SyntaxError: invalid syntax (<ipython-input-14-3ba625730662>, line 13)

## Visualization Module

In [ ]:
class Visualization:

## Regression Module

In [ ]:
class Regression:
    
    def __init__(self, max_iters, features_train, targets_train, features_test, targets_test, scaler_used_for_features):
        self.writer = SummaryWriter()
        self.max_iters = max_iters
        self.features_train = features_train
        self.targets_train = targets_train
        self.features_test = features_test
        self.scaler_used_for_features = scaler_used_for_features
    

class Linear_Regression(Regression:
                        
    def train(self):

## Training Module

In [9]:

raw_csv_path = r"C:\Users\Being_Aerys\PycharmProjects\Machine_Learning_Algorithms_Collection\Supervised_Methods\Linear_Regression\data\housing.csv"
preprocessing = Preprocessing()

train_set, test_set = preprocessing.fetch_train_test_data(raw_csv_path)

#Lets summarize the information of the training data set.
train_set.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000
mean,-119.582290,35.643149,28.608285,2642.004784,538.496851,1426.453004,499.986919,3.880754,207194.693738
std,2.005654,2.136665,12.602499,2174.646744,419.007096,1137.056380,380.967964,1.904294,115622.626448
min,-124.350000,32.550000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.810000,33.930000,18.000000,1454.000000,296.750000,789.000000,280.000000,2.566700,119800.000000
50%,-118.510000,34.260000,29.000000,2129.000000,437.000000,1167.000000,410.000000,3.545800,179850.000000
75%,-118.010000,37.720000,37.000000,3160.000000,647.000000,1726.000000,606.000000,4.773175,265125.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [10]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 14196 to 15795
Data columns (total 10 columns):
longitude             16512 non-null float64
latitude              16512 non-null float64
housing_median_age    16512 non-null float64
total_rooms           16512 non-null float64
total_bedrooms        16512 non-null float64
population            16512 non-null float64
households            16512 non-null float64
median_income         16512 non-null float64
median_house_value    16512 non-null float64
ocean_proximity       16512 non-null object
dtypes: float64(9), object(1)
memory usage: 1.4+ MB

In [11]:
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND

It appears that one of the features "ocean_proiximity" is a categorical features. If a categorical feature is has two only two classes, they can be encoded as binary features. However, if there are more than 2 categories, they can be either label encoded or one-hot encoded. Label encoding means assigning an integer to each class. However, consider a case where the feature represents the color of the eyes of an individual. If the labelling is done as black eyes --> 1, brown eyes --> 1, blue eyes --> 2, green eyes --> 3, the algorithm that takes in this information will interpret as one color being "larger" than the other color, which is not what we intend to tell. Hence, in such cases, one-hot encoding comes to our rescue which does not present such bias to the algorithm.